.header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem 2rem 2rem;
    border-bottom: 1px solid var(--gold);
}

.header-nav {
    gap: 5rem;
}

.header-nav__item {
    font-size: 3rem;
    text-transform: uppercase;
}